.container {
    .widget-container {
        margin-bottom: 50px;

        .banner-content {
            position: absolute;
            padding: 1.875rem 2.5rem;
        }

        .color-price {
            color: var(--color-price);
            font-size: 1.875rem;
        }
    }

    .module-header {
        .entry-title {
            font-size: 1.25rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0;
            margin-bottom: 0;
        }

        .entry-description {
            display: block;
            width: 100%;
            padding-right: 10px;
            font-size: .75rem;
            color: var(--color-info-dark);
        }

        .view-all-button {
            margin-left: 10%;
            padding: 10px 18px;
            font-size: .75rem;
            height: 2.125rem;
            text-decoration: none;
            color: var(--color-info-dark);
            background-color: transparent;

            border-radius: 30px;
            border: 1px solid var(--color-border-dark);
        }
    }

    .product-wrapper {
        padding: 1.25rem;
        position: relative;

        .thumbnail-wrapper {
            .product-badges {
                position: absolute;
                align-items: flex-start;
                top: 1.125rem;
                left: 1.125rem;
                pointer-events: none;

                .badge {
                    display: inline-block;
                    padding: .5em .6em;
                    font-size: 75%;
                    font-weight: 700;
                    line-height: 1;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    border-radius: .25rem;
                    background-color: var(--color-secondary);
                }
            }
        }

        .product-buttons {
            position: absolute;
            display: inline-flex;
            flex-direction: column;
            top: .9375rem;
            right: .9375rem;

            .quick-view-button,
            .like-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: var(--color-white);

                svg {
                    width: 16px;
                    height: 16px;
                }
            }

            .like-btn {
                margin-top: 5px;

                svg {
                    color: var(--color-black);
                }
            }
        }

        .content-wrapper {
            .product-title {
                font-size: .875rem;
                font-weight: 500;
                line-height: 1.4;

                a {
                    display: flex;
                    color: var(--color-text);
                    text-decoration: none;
                    white-space: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all .2s cubic-bezier(.28, .12, .22, 1);

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }

            .product-meta {
                font-size: .6875rem;
                margin-bottom: .625rem;

                .product-available {
                    font-family: var(--font-secondary);
                    font-weight: 600;
                    text-transform: uppercase;
                    border-radius: 1.875rem;
                }

                .in-stock {
                    color: var(--color-success);
                }
            }

            .product-rating {
                display: flex;
                align-items: center;
                margin-bottom: .4375rem;

                .star-rating {
                    position: relative;
                    font-size: .875rem;
                    width: 4.8rem;
                    overflow: hidden;
                }

                .count-rating {
                    font-size: .7325rem;
                }
            }

            .price {
                display: block;
                font-size: 1.125rem;
                margin-bottom: .625rem;

                del {
                    font-size: 85%;
                    color: var(--color-info);
                }

                ins {
                    text-decoration: none;
                    margin-left: .3125rem;

                    .price-amount {
                        color: var(--color-price);
                    }
                }
            }

            .product-button-group {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    width: 100%;
                    padding: 5px 0px;
                    border-radius: 30px;
                    text-align: center;
                    text-decoration: none;
                    color: var(--color-secondary);
                    background-color: transparent;
                    border: 1px solid var(--color-secondary);
                }
            }
        }
    }
}