.site-primary {
    .site-content {
        .homepage-content {
            .container {
                .breadcrumb {
                    padding: .625rem 0;

                    ul {
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            position: relative;
                            display: inline-flex;
                            align-items: center;
                            font-family: var(--font-secondary);
                            font-size: .75rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            letter-spacing: 0;
                            color: var(--color-info-dark);

                            a {
                                color: var(--color-text-light);
                                text-decoration: none;
                                background-color: transparent;
                            }
                        }
                    }
                }

                .products-header {
                    margin-top: .9375rem;
                    margin-bottom: 2.1875rem;
                }

                .product__categories {
                    .product__categories-title {
                        font-family: var(--font-secondary);
                        font-size: .9375rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        margin-bottom: 1.25rem;
                    }

                    .site-scroll {
                        max-height: 16.75rem;
                        overflow-y: auto;

                        .category__lists {
                            font-size: .875rem;
                            font-weight: 400;
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            .category__lists-item {
                                position: relative;
                                display: flex;
                                align-items: flex-start;
                                flex-flow: row wrap;
                                overflow: hidden;
                                margin-right: 15px;
                                justify-content: flex-start;
                                align-items: center;

                                a {
                                    margin-bottom: .625rem;
                                    text-decoration: none;
                                    color: var(--color-text-lighter);
                                    margin-bottom: .625rem;
                                    display: inline-block;

                                    input {
                                        width: 14px;
                                        height: 14px;
                                    }

                                    span {
                                        margin-left: .6375rem;
                                    }


                                }

                                svg {
                                    position: absolute;
                                    top: 4px;
                                    right: 0;
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin-right: .2em;
                                    cursor: pointer;
                                }

                                .submenu {
                                    .submenu-item {
                                        list-style: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .product__price-filter {
                    margin-top: 3.125rem;

                    .product__price-filter-title {
                        font-family: var(--font-secondary);
                        font-size: .9375rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        margin-bottom: 1.25rem;
                    }

                    .range-slider {
                        width: 100%;
                        height: 5px;

                        .range-slider__thumb {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .price_slider-amount {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 1.5625rem;

                        .price_label {
                            font-size: .85rem;

                            span {
                                font-weight: 600;
                                color: var(--color-text);
                            }
                        }

                        .custom-btn {
                            font-size: .85rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            height: auto;
                            margin-left: auto;
                            padding: 0;
                            border: 0;
                            background-color: transparent;
                        }
                    }
                }

                .product__status {
                    margin-top: 3.125rem;

                    .product__status-title {
                        font-family: var(--font-secondary);
                        font-size: .9375rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        margin-bottom: 1.25rem;
                    }

                    .site-checkbox-lists {
                        .site-scroll {
                            max-height: 16.75rem;
                            overflow: auto;

                            ul {
                                font-size: .875rem;
                                font-weight: 400;
                                margin: 0;
                                padding: 0;
                                list-style: none;

                                li {
                                    position: relative;
                                    display: flex;
                                    align-items: flex-start;
                                    flex-flow: row wrap;
                                    overflow: hidden;
                                    margin-right: 15px;

                                    input {
                                        width: 14px;
                                        height: 14px;
                                    }

                                    a {
                                        flex: 1;
                                        text-decoration: none;
                                        color: var(--color-text-lighter);
                                        margin-bottom: .625rem;
                                        display: inline-block;

                                        span {
                                            margin-left: 0.6375rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .product__brands {
                    margin-top: 3.125rem;

                    .product__brands-title {
                        font-family: var(--font-secondary);
                        font-size: .9375rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        margin-bottom: 1.25rem;
                    }

                    .layered-nav-list {
                        list-style: none;
                        padding: 0;
                        font-size: .875rem;
                        font-weight: 400;

                        .layered-nav-list__item {
                            position: relative;
                            display: flex;
                            align-items: center;
                            flex-flow: row wrap;
                            overflow: hidden;
                            margin-bottom: .625rem;

                            input {
                                width: 14px;
                                height: 14px;
                            }

                            a {
                                flex: 1;
                                text-decoration: none;
                                color: var(--color-text-lighter);
                                display: inline-block;
                                margin-left: 0.6375rem;
                            }
                        }
                    }
                }

                .media__image {
                    margin-top: 3.125rem;
                }
            }
        }
    }
}