.product__details-wrapper {
    background-color: #f7f8fd;

    .container {
        .breadcrumb {
            padding: 1.5rem 0;

            ul {
                display: flex;
                align-items: center;
                flex-flow: row wrap;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    font-family: var(--font-secondary);
                    font-size: .75rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0;
                    color: var(--color-info-dark);

                    a {
                        color: var(--color-text-light);
                        text-decoration: none;
                        background-color: transparent;
                    }
                }
            }
        }

        .product__details {
            padding: 2.5rem;
            background-color: var(--color-white);
            border-radius: var(--size-border-radius);

            .product {
                .product-header {
                    padding-bottom: 1.875rem;
                    margin-left: 1.25rem;

                    .product_title {
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin-bottom: .9375rem;
                    }

                    .product-meta {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: flex-start;
                        font-size: .75rem;

                        .product-brand {
                            display: inline-flex;
                            align-items: center;
                            border-right: 2px solid var(--color-border);
                            padding-right: 0.5rem;

                            .product-attributes {
                                display: flex;
                                align-content: center;
                                justify-content: flex-start;
                            }

                            th {
                                color: var(--color-info-dark);
                                margin-right: 4px;
                                border: none;
                                padding: 0;
                                font-size: .75rem;
                                font-weight: 400;
                            }

                            td {
                                border: none;
                                padding: 0;

                                p {
                                    margin: 0;
                                    font-weight: 500;
                                    color: var(--color-text-light);
                                    font-size: .75rem;
                                }
                            }
                        }

                        .product-rating {
                            display: flex;
                            align-items: center;

                            .star-rating {
                                font-size: 0.75rem;
                                padding: 0 0 0 10px;
                            }

                            .count-rating {
                                padding: 0 10px 0 0;
                                font-size: .75rem;
                                font-family: var(--font-secondary);
                                font-weight: 500;
                                text-transform: uppercase;
                                margin-left: .5rem;

                                a {
                                    color: var(--color-text-lighter);
                                    text-decoration: none;
                                }
                            }
                        }

                        .sku-wrapper {
                            padding-left: 0.5rem;
                            border-left: 2px solid var(--color-border);

                            span {
                                font-size: 0.75rem;
                                font-weight: 500;
                                color: var(--color-text-light);
                            }
                        }
                    }
                }

                .product-details-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    .product-thumbnails {
                        position: relative;
                        padding-right: 30px;

                        .product-badges {
                            position: absolute;
                            display: inline-flex;
                            flex-direction: column;
                            align-items: flex-start;
                            top: 1.125rem;
                            left: 1.125rem;
                            pointer-events: none;
                            z-index: 1;

                            .badge {
                                display: inline-flex;
                                align-items: center;
                                font-family: var(--font-secondary);
                                text-transform: uppercase;
                                letter-spacing: 0;
                                width: auto;
                                max-height: 1.5rem;
                                padding: .375rem .75rem;
                                color: #fff;
                                background-color: var(--color-info-dark);
                                border-radius: 4px;
                                font-size: .625rem;
                                font-weight: 700;
                            }

                            .onsale {
                                font-size: .875rem;
                                background-color: var(--color-secondary);
                                margin-bottom: .25rem;
                            }
                        }

                        .main-slider {
                            width: 100%;

                            img {
                                border-radius: 8px;
                            }
                        }

                        .thumbnail-slider {
                            width: 100%;
                            padding-left: 0.75rem;

                            .thumbnail-wrapper {
                                width: 90% !important;

                                .thumbnail-image {
                                    border-radius: 8px;
                                    border: 1px solid var(--color-border);
                                }
                            }

                        }

                    }

                    .price {
                        font-size: 1.625rem;
                        margin-bottom: .9375rem;

                        del {
                            font-size: 75%;
                            font-weight: 500;
                            color: var(--color-info);
                        }

                        ins {
                            text-decoration: none;
                            margin-left: .3125rem;
                            color: var(--color-price);
                        }
                    }

                    .product-meta {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        font-size: .75rem;
                        margin-bottom: 1.25rem;
                    }

                    .product-available {
                        font-family: var(--font-secondary);
                        font-weight: 600;
                        text-transform: uppercase;
                        padding: 4px 10px;
                        background-color: var(--color-success-light);
                        border-radius: 1.875rem;
                    }

                    .out-of-stock {
                        background-color: var(--color-danger-light);
                        color: var(--color-danger-dark);
                    }

                    .product-short-description {
                        margin-bottom: 1.25rem;

                        p {
                            font-size: .8125rem;
                            color: var(--color-text-light);
                        }
                    }

                    .add-to-cart-container {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        margin-bottom: 2.5rem;


                        .quantity-button {
                            background-color: #f5f5f5;
                            border: none;
                            border-radius: 50%;
                            width: 44px;
                            height: 44px;
                            font-size: 1.5rem;
                            cursor: pointer;

                            &:hover {
                                background-color: #e0e0e0;
                            }
                        }

                        .quantity-display {
                            font-size: 1.5rem;
                        }


                        .add-to-cart-button {
                            background-color: var(--color-primary);
                            color: var(--color-white);
                            border: none;
                            border-radius: 20px;
                            padding: 10px 0;
                            cursor: pointer;
                            width: 50%;

                            &:hover {
                                background-color: #294aae;
                            }
                        }
                    }


                    .product-actions {
                        display: flex;
                        margin-bottom: 1.875rem;

                        .add_to_wishlist_button {
                            height: 2.0625rem;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            padding-left: .75rem;
                            padding-right: .75rem;
                            border: 1px solid var(--color-border-dark);
                            border-radius: 2.0625rem;
                            font-size: .75rem;
                            font-weight: 600;
                            font-family: var(--font-secondary);
                            text-transform: uppercase;
                            letter-spacing: 0;
                            color: var(--color-text-lighter);
                            text-decoration: none;

                            span {
                                margin-left: .25rem;
                            }
                        }

                        .compare-btn {
                            display: inline-flex;
                            align-items: center;
                            font-family: var(--font-secondary);
                            font-size: .75rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            letter-spacing: 0;
                            color: var(--color-text-lighter);
                            text-decoration: none;
                            padding: 0;
                            height: auto;
                            margin-left: 1.25rem;
                        }

                    }

                    .product-checklist {
                        margin-bottom: 1.5rem;

                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            li {
                                display: flex;
                                align-items: center;
                                font-size: .75rem;
                                color: var(--color-text-light);

                                svg {
                                    font-size: .6875rem;
                                    color: var(--color-success);
                                    margin-right: .625rem;
                                }
                            }
                        }
                    }

                    .product-meta-bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;
                        border-top: 1px solid var(--color-border);
                        padding-top: 1.5rem;
                        font-size: .75rem;


                        span {
                            margin-top: .375rem;
                            margin-left: 0;
                            color: var(--color-info-dark);

                            a {
                                font-weight: 500;
                                color: var(--color-text-lighter);
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                    }

                    .product-share {
                        margin-top: 2.5rem;

                        .social-share {
                            ul {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                flex-flow: row wrap;
                                margin: 0;
                                padding: 0;
                                list-style: none;

                                li {
                                    a {
                                        img {
                                            width: 2.125rem;
                                            height: 2.125rem;
                                        }
                                    }
                                }
                            }
                        }
                    }


                    .product-icons {
                        .alert-message {
                            width: 95%;
                            margin-left: 5%;
                            font-size: .75rem;
                            text-align: center;
                            color: var(--color-danger-dark);
                            background-color: var(--color-danger-light);
                            border-radius: var(--size-border-radius);
                            padding: 10px;
                            margin-bottom: .75rem;
                        }

                        .icon-messages {
                            padding: 1.875rem;
                            width: 95%;
                            margin-left: 5%;
                            background-color: var(--color-light);
                            border-radius: var(--size-border-radius);

                            ul {
                                margin: 0;
                                padding: 0;
                                list-style: none;

                                li {
                                    display: flex;
                                    align-items: flex-start;
                                    margin-bottom: 1rem;


                                    .icon {
                                        display: inline-flex;
                                        align-items: flex-start;
                                        font-size: 1.25rem;
                                        margin-right: 1.25rem;
                                    }

                                    .message {
                                        font-size: .75rem;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        .tabs__wrapper {
            margin-top: 3.75rem;
            background-color: var(--color-white);
            border-radius: var(--size-border-radius);
            border: 1px solid var(--color-border-light);
        }
    }


}