.wrapper {
    width: 100vw;

    .top-strip {
        padding: 8px 0;
        background-color: var(--color-primary);
    }

    p {
        font-size: 12px;
        font-weight: 500;
    }

    .header {
        width: 100%;
        height: auto;
        padding: 10px 0;

        .column-left {
            img {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        .column-center {

            .location-modal {}

        }

        .column-right {
            padding-left: 0;
            .header-user,
            .cart-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 50px;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.1);

                svg {
                    font-size: 30px;
                    color: var(--color-black);
                }
            }

            .cart {
                position: relative;

                .cart-icon {
                    background-color: #fff1ee;
                    border: 1px solid rgb(234, 43, 15, 0.1);
                    font-size: 1rem;

                    svg {
                        color: #ea2b0f;
                    }
                }

                .cart-count {
                    position: absolute;
                    top: 2px;
                    right: -4px;

                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #ea2b0f;
                    color: var(--color-white);
                    font-size: 12px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
            }

            .signin-btn {
                padding: 17px 20px;
                background-color: var(--color-primary);
                color: var(--color-white);
            }
        }

    }

    .header-nav {
        height: 80px;

        .all-categories {
            position: relative;

            .all-categories-btn {
                padding: 10px 15px;
                border-radius: 30px;
                background-color: #2bbef9;
                font-weight: 500;
                font-size: 16px;
                color: var(--color-white);

                .menu-icon svg {
                    font-size: 24px;
                    margin-bottom: 4px;
                }

                .angle-down-icon svg {
                    font-size: 16px;
                    margin-bottom: 4px;
                }
            }

            .all-categories-description {
                position: absolute;
                left: 20%;
                bottom: -8px;
                background-color: #ea2b0f;
                color: #71778e;
                background-color: #edeef5;
                border: 1px solid #fff;
                border-radius: 1.125rem;
                align-items: center;
                font-size: .625rem;
                letter-spacing: 0;
                text-transform: uppercase;
                white-space: nowrap;
                height: 1.125rem;
                padding-left: .5rem;
                padding-right: .5rem;
            }
        }

        .primary-menu {
            color: var(--black-color);

            ul {
                li {
                    margin: 0;
                    padding: 0;
                    border: none;

                    a {
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 1rem;
                        color: #3e445a;
                        text-transform: uppercase;

                        display: flex;
                        align-items: center;
                        border-radius: 25px;
                        background-color: var(--color-white);
                        transition: all 0.3s ease-in-out;
                        padding: 10px 20px;

                        &:hover {
                            background-color: #f0faff;
                            color: #2bbef9;
                        }
                    }
                }
            }
        }
    }
}