.site-footer {
    margin-top: 7.1875rem;

    .footer-subscribe {
        color: #fff;
        background-color: var(--color-primary);

        .subscribe-content {
            padding-top: 4.375rem;
            padding-bottom: 4.375rem;

            .entry-subtitle {
                font-weight: 300;
            }

            .entry-title {
                font-size: 1.625rem;
                font-weight: 600;
                margin-bottom: .9375rem;
            }

            .entry-teaser {
                max-width: 18.75rem;
                opacity: .5;
                margin-bottom: 1.875rem;
            }

            .form-wrapper {
                .input-group {
                    height: 3.875rem;
                    background-color: #fff;
                    border-radius: 8px;

                    input {
                        outline: none;
                        border: none;
                        width: 70%;
                    }

                    .btn {
                        position: absolute;
                        font-size: .8125rem;
                        font-weight: 500;
                        height: auto;
                        top: 4px;
                        bottom: 4px;
                        right: 4px;
                        border: 0;
                        border-radius: 8px !important;
                        background-color: var(--color-primary);
                        color: #fff;
                    }
                }
            }
        }

        .subscribe-image {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }

    .footer-icon-boxes {
        padding-top: 2.1875rem;
        padding-bottom: 2.1875rem;
        background-color: #f7f8fd;


        .icon-box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon-box-icon {
                font-size: 1.375rem;
                max-width: 1.125rem;
                margin-right: .9375rem;
            }

            .icon-box-detail {
                margin-top: .25rem;

                span {
                    font-size: .8125rem;
                    font-weight: 500;
                }
            }
        }
    }

    .footer-widgets {
        background-color: #f7f8fd;

        .container {
            padding-top: 6.25rem;
            padding-bottom: 6.25rem;

            .widget_nav_menu {
                font-size: .8125rem;
                margin-bottom: 1.875rem;

                .widget-title {
                    font-family: var(--font-secondary);
                    font-size: .9375rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0;
                    margin-bottom: 1.25rem;
                }


                .menu {
                    font-weight: 400;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        padding: 4px 0;

                        a {
                            color: #71778e;
                            text-decoration: none;

                            &:hover {
                                color: var(--color-primary);
                            }
                        }

                    }

                }
            }
        }


    }

    .footer-contacts {
        background-color: var(--color-white);
        padding-top: 2.875rem;
        padding-bottom: 2.875rem;

        .column-left {
            .site-phone {
                display: inline-flex;
                align-items: center;
                min-width: 18.75rem;

                .phone-icon {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.125rem;
                    flex: 0 0 2.625rem;
                    max-width: 2.625rem;
                    height: 2.625rem;
                    margin-right: .9375rem;
                    border: 1px solid;
                    border-radius: 50%;
                    top: 0px;
                }

                .phone-detail {
                    display: inline-flex;
                    flex-direction: column;

                    .entry-title {
                        color: #202435;
                        font-size: 1.25rem;
                        font-weight: 600;
                        margin-bottom: 3px;
                    }

                    span {
                        font-size: .6875rem;
                        opacity: .5;
                    }
                }
            }

        }

        .column-right {
            display: flex;
            justify-content: flex-end;

            .site-mobile-app {
                display: inline-flex;

                .app-content {
                    text-align: right;
                    margin-right: 1.25rem;
                    margin-bottom: 0;

                    .entry-title {
                        color: #202435;
                        font-size: .875rem;
                        font-weight: 600;
                        margin-bottom: 0;
                    }

                    span {
                        display: block;
                        font-size: .75rem;
                        opacity: .5;
                    }
                }

                .app-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    a {
                        display: block;
                        margin: 0 5px;
                    }
                }
            }

            .site-social {
                margin-left: 1.25rem;

                ul {
                    display: flex;
                    align-items: center;
                    flex-flow: row wrap;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {

                        a {
                            background-color: #ffffff;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            font-size: .9375rem;
                            width: 2.125rem;
                            height: 2.125rem;
                            border-radius: 50%;
                            color: var(--color-primary);
                            border: 1px solid var(--color-border);
                            transition: all .2s;
                            margin: 0 5px;

                            &:hover {
                                background-color: var(--color-primary);
                                color: var(--color-white);
                            }
                        }
                    }

                }
            }
        }
    }

    .footer-bottom {

        .container {
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            padding-top: 1.875rem;
            padding-bottom: 1.875rem;

            .site-copyright {
                font-size: .75rem;
                color: #9b9bb4;
                p {
                    margin: 0;
                }
            }

            .site-menu {
                .menu {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        font-size: .75rem;

                        a {
                            color: #9b9bb4;
                            display: inline-flex;
                            align-items: center;
                            text-decoration: none;
                            margin: 0 8px;
                        } 
                    }
                }

            }
        }
    }

}